 html{
  background-color: #edeef0;
  letter-spacing: 2px;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;

}

body {
  font-family: montserrat;

}

a {
  color: #006fbf;
}

a:hover {
  color: #fe0000;
}

a:visited{
  color: #006db8;
}



 nav{
   background: black;
   height: 80px;
   width: 100%;
 }

label.logo {
  color: #006fbf;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav > ul {
  float: right;
  margin-right: 20px;
}

nav > ul > li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav > ul > li > a {
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.ban{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

#check{
  display: none;
}

main {
  background-color: #edeef0;
  color: #222;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: auto;
}



  #wrapper main {
    display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-gap: 20px;
    font-size: 25px;
    max-width: 1200px;
    height: 100%;
    margin: 5px auto;
    padding: 20px;
  }

 #wrapper main img {
   max-width: 100%;
   max-height: 100%;
 }

#box{
  border: 5px solid #222;
}

#box2{
  border: 5px solid #222;
}


#box3{
  grid-column: 1/-1;
  border: 3px solid #222;
  text-align: center;
}

#box4{
  border: 5px solid #222;
}

#box5{
    border: 5px solid #222;
}

#box5 video{
  max-width: 100%;
  max-height: 100%;
}
#box5 p {
  font-size: 30px;
}

#box5 h1{
  font-size: 40px;
}

#box7{
  grid-column: 1/-1;
  border: 3px solid #222;
  text-align: center;
}

.follow{
  line-height: 80px;
}

.follow ul {
  text-align: center;
}

.follow ul li {
  display: inline-block;
  line-height: 100px;
  margin-left: 80px;
}


#wrapper > main > section{
  padding: 10px;
}



#episodes{
  font-size: 35px;
}
#episodes iframe{
  width: 100%;
  height: 252px;
}

.footer{
  grid-column-start: 1;
  grid-row-end: 3;
  grid-area: footer;
}

footer{
  background-color: black;
  border: 1px solid #222;
    text-align: center;
  }



footer > ul {
  padding-left: 0;
  margin: 1em 0;
  list-style: none;
}

footer > ul > li {
  display: inline-block;
  margin-right: 10em;
  margin-left: 10em;
  font-weight: bold;
}

.kay main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  max-width: 960px;
  height: 100%;
	margin: 5px auto;
  border: 5px solid #222;
  line-height: 30px;
}

.rich main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 960px;
  height: 100%;
	margin: 5px auto;
  border: 5px solid #222;
  line-height: 40px;
}

.rich .photo2 img{
  max-width: 100%;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.content{
  width: 100%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 90%;
  float: left;
}

.recent-post-title {
  font-size: 65px;
}

.content .main-content .post{
  width: 95%;
  height: 270px;
  margin: 50px auto;
  border-radius: 5px;
  background: white;
  line-height: 40px;
}

.content .main-content .post-preview h2{
  text-decoration: underline;
}



.content .sidebar{
  width: 30%;
  float: left;
  border: 1px solid red;
  height: 300px;
  float: right;
}


.content .main-content.single{
   background-color: white;
   padding: 20px 50px;
   font-size: 1.1em;
   max-width: 960px;
   height: 100%;
  margin: 5px auto;
   border: 5px solid #222;
   line-height: 30px;
   float: none;
}

.content .main-content.single .post-title{
  text-align: center;
  margin-bottom: 40px;
}

.content .main-content.single .post-content{
  width: 90%;
  margin: 50px auto;
  border-radius: 5px;
  background: white;
  line-height: 40px;

}

.content .main-content.single .post-content h2{
  text-align: center;
}
.content .main-content.single .post-content p{
  margin-bottom: 32px;
}

.content .main-content.single .post-content img {
  max-width: 100%;
}

 i{
   font-size: 10px;
 }

.fas.fa-pen{
  font-size: 25px;
  height: 20px;
}

#mc_embed_signup{
  background: black; clear:left;
  font:14px Helvetica,Arial,sans-serif;
}

#mc_embed_signup  label {
  color: #006fbf;
}




@media (max-width: 952px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }
  nav ul li a{
    font-size: 16px;
  }
  img{
    max-height: 100%;
    max-width: 100%;
  }


.content .main-content .post{
  max-width: 100%;
  max-height: 100%;
  font-size: 8px;
  line-height: 25px;
}

 .follow ul li {
   max-width: 100%;
   max-height: 100%;
   display: inline-block;
   font-style: 15px;
 }

 .content.clearfix .main-content.single  {
   max-width: 80%;
   max-height: 100%;
 }




}

@media (max-width: 858px){
  .ban{
    display: block;
    margin-right: 40px;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #fe0000;
  }
  #check:checked ~ ul{
    left: 0;
  }

  img{
    max-height: 100%;
    max-width: 100%;
  }



#wrapper main {
  max-width: 100%;
  font-size: 15px;
}

.footer{
  grid-column: 1/-1;
}

.content .main-content .post{
  max-width: 100%;
  max-height: 100%;
  font-size: 8px;
  line-height: 25px;
}

.follow ul li  {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  font-size: 10px;
}

footer{
  text-align: center;
}

footer ul li {
  display: inline-block;
  margin-right: 2em;
  margin-left: 2em;
}

.content.clearfix  .main-content.single {
  max-width: 80%;
  max-height: 100%;
}


}

@media(max-width: 500px){
  .content.clearfix  .main-content.single {
    max-width: 70%;
    max-height: 100%;
  }

#box{
  grid-column: 1/-1;
}
#box2{
  grid-column: 1/-1;
}

#box4{
  grid-column: 1/-1;
}

#box5{
  grid-column: 1/-1;
}



.home-footer ul li {
  float: right;
}
}




  @media(max-width: 320px){
    .content.clearfix .main-content.single  {
      max-width: 60%;
      max-height: 100%;
    }

  .logo.single{
    display: none;
  }

  .kay main{
    max-width: 95%;
  }

  .rich main{
    max-width: 95%;
  }

  .blogs{
    max-width: 85%;
  }


}

@media(max-width: 1065px){
  .content.clearfix .main-content.single  {
    max-width: 80%;
    max-height: 100%;
  }
}

@media(max-width: 547px){
  .content.clearfix .main-content.single  {
    max-width: 70%;
    max-height: 100%;
  }


}



@media(max-width: 365px){
  .content.clearfix .main-content.single  {
    max-width: 60%;
    max-height: 100%;
  }
}


@media(max-width: 274px){
  .content.clearfix .main-content.single  {
    max-width: 50%;
    max-height: 100%;
  }
}

@media(max-width: 384px){
  .post{
    max-width: 80%;
  }

  @media(max-width: 350px){
    .content.clearfix .main-content.single  {
      max-width: 60%;
      max-height: 100%;
    }

  .logo.single{
    display: none;
  }

  .kay main{
    max-width: 90%;
  }

  .rich main{
    max-width: 95%;
  }

 .blogs-page main {
  max-width: 90%;
 }

 @media(max-width: 300px){
   .preview-text  {
     font-size: 3px;
   }


}
