 html{
  background-color: #edeef0;
  letter-spacing: 2px;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: montserrat;

}

a {
  color: red;
}

a:hover {
  color: blue;
}

a:visited{
  color: red;
}


header {
  text-align: center;
  background-color: black;
  color: white;
}

header ul {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  list-style: none;
  border: 1px solid white;
}

body{
  background-color: #edeef0;
}

.grid_main{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 10px 150px;
  grid-template-rows: auto;
  background-color: #edeef0;
  padding: 70px;
  margin: auto;
}

.aside{
  grid-column-start: 4;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 4;
  text-align: center;
  padding: 0;
  line-height: 35px;
  border: 1px solid black;
}

aside ul {
  list-style:  square;
  text-align: center;
  font-size: 12px;
  padding:15px;
}



.pics{
  grid-column-start: 1;
  border: 3px solid #222;
  font-size: 20px;

}

.work{
  grid-column-start: 2;
  grid-column-end: 4;
  border: 3px solid #222;
  font-size: 20px;
  text-align: center;
}

.work p{
  font-size: 30px;
  text-align: center;
}
.work1{
  grid-column-start: 1;
  grid-column-end: 4;
  border: 3px solid #222;
  font-size: 20px;
  text-align: center;
  font-size: 30px;
}

footer{
  border: 3px solid white;
  background-color: black;
}

footer ul {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  list-style: none;
  border: 1px solid black;
}

footer ul li a{
  color: red;
  font-size: 20px;
}




.kay main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  max-width: 960px;
  margin: auto;
  height: 100%;
  border: 5px solid #222;
  line-height: 30px;

}

.rich main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 960px;
  margin: auto;
  height: 100%;
  border: 5px solid #222;
  line-height: 40px;
}

.rich .photo2 img{
  max-width: 90%;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.content{
  width: 100%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 90%;
  float: left;

}

.recent-post-title {
  font-size: 65px;
}

.content .main-content .post{
  width: 95%;
  height: 270px;
  margin: 50px auto;
  border-radius: 5px;
  background: white;
  line-height: 40px;
}

.content .main-content .post-preview h2{
  text-decoration: underline;
}



.content .sidebar{
  width: 30%;
  float: left;
  border: 1px solid red;
  height: 300px;
  float: right;
}


.content .main-content.single{
   background-color: white;
   padding: 20px 50px;
   font-size: 1.1em;
   max-width: 960px;
   height: 100%;
  margin: 5px auto;
   border: 5px solid #222;
   line-height: 30px;
   float: none;
}

.content .main-content.single .post-title{
  text-align: center;
  margin-bottom: 40px;
}

.content .main-content.single .post-content{
  width: 90%;
  margin: 50px auto;
  border-radius: 5px;
  background: white;
  line-height: 40px;

}

.content .main-content.single .post-content h2{
  text-align: center;
}
.content .main-content.single .post-content p{
  margin-bottom: 32px;
}

.content .main-content.single .post-content img {
  max-width: 100%;
}

 i{
   font-size: 10px;
 }

.fas.fa-pen{
  font-size: 25px;
  height: 20px;
}

#mc_embed_signup{
  background: black; clear:left;
  font:14px Helvetica,Arial,sans-serif;
}

#mc_embed_signup  label {
  color: #006fbf;
}

.blogs-page{
  color: #222;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-left: 9em;
  margin-top: 5em;
}

.main-content{
  text-align: center;
}

/* media mobile starts */

@media (max-width: 952px){

 .work1{
   grid-column-start: 1;
  grid-column-end: 4;
 }

  .pics{
    grid-column: -1/1;
  }

  .work{
    grid-column: -1/1;
  }

  .grid_main{
    width: 70%;
    grid-template-columns: 1fr 700px 1fr 1fr 1px;
  }

  footer{
    grid-column: -1/1;
  }

  .footer ul li a {
    font-size: 50px;
  }

.kay main{
  margin: 0;
}

.rich main{
  margin: 0px;
}


.content .main-content .post{
  max-width: 100%;
  max-height: 100%;
  font-size: 8px;
  line-height: 25px;
}

 .follow ul li {
   max-width: 100%;
   max-height: 100%;
   display: inline-block;
   font-style: 15px;
 }

 .content.clearfix .main-content.single  {
   max-width: 80%;
   max-height: 100%;
 }

}

@media (max-width: 858px){

  a:hover,a.active{
    background: none;
    color: #fe0000;
  }
  #check:checked ~ ul{
    left: 0;
  }

  img{
    max-height: 100%;
    max-width: 100%;
  }



.grid_main {
  max-width: 100%;
  font-size: 15px;
}

.footer{
  grid-column: 1/-1;
}

.content .main-content .post{
  max-width: 100%;
  max-height: 100%;
  font-size: 8px;
  line-height: 25px;
}

.follow ul li  {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  font-size: 10px;
}

footer{
  text-align: center;
}

footer ul li {
  display: inline-block;
  margin-right: 2em;
  margin-left: 2em;
}

.content.clearfix  .main-content.single {
  max-width: 80%;
  max-height: 100%;
}

.kay main{
  margin: 0;
}

.rich main{
  margin: 0px;
}

}

@media(max-width: 500px){
  .content.clearfix  .main-content.single {
    max-width: 70%;
    max-height: 100%;
  }

.work{
  grid-column: 1/-1;
}

.work1{
  grid-column: 1/-1;
}

.pics{
  grid-column: 1/-1;
}

.grid_main{
  width: 65%;
}

aside{
  display: none;
}



.home-footer ul li {
  float: right;
}

.kay main{
  margin: 0;
}

.rich main{
  margin: 0px;
}
}


@media(max-width: 1436px){

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }
}

@media(max-width: 1064px){

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }
}

@media(max-width: 1064px){

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }
}

@media(max-width: 650px){

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }
}

@media(max-width: 984px){

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }

  .grid_main{
    grid-template-columns: 1fr;
    padding: 40px;
    width: 85%;
  }

.work1{
  grid-column-start: 1;
  grid-column-end: 1;
}



  aside{
    display: none;
  }

  .footer ul li a {
    font-size: 50px;
  }

}

  @media(max-width: 320px){
    .content.clearfix .main-content.single  {
      max-width: 60%;
      max-height: 100%;
    }

  .logo.single{
    display: none;
  }

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }

  .blogs{
    max-width: 85%;
  }

.grid_main{
    width: 50%;
  }
}

@media(max-width: 1065px){
  .content.clearfix .main-content.single  {
    max-width: 80%;
    max-height: 100%;
  }
  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }
}

@media(max-width: 547px){
  .content.clearfix .main-content.single  {
    max-width: 70%;
    max-height: 100%;
  }

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }

  .grid_main{
    padding: 0;
    grid-template-columns: 1fr;
  }


}



@media(max-width: 365px){
  .content.clearfix .main-content.single  {
    max-width: 60%;
    max-height: 100%;
  }

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }
}


@media(max-width: 274px){
  .content.clearfix .main-content.single  {
    max-width: 50%;
    max-height: 100%;
  }

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }
}

@media(max-width: 384px){
  .post{
    max-width: 80%;
  }

.aside{
    display: none;
  }



  .grid_main{
    padding: 0;
    grid-template-columns: 1fr;

    width: 90%;
  }

  .kay main{
    margin: 0;
    max-width: 97%;
  }

  .rich main{
    margin: 0px;
    max-width: 97%;
  }
  .blogs-page {
    width: 50%;
  }
  .content.clearfix .main-content.single  {
    max-width: 60%;
    max-height: 100%;
  }


}

  @media(max-width: 350px){
    .content.clearfix .main-content.single  {
      max-width: 40%;
      max-height: 100%;
    }

  .logo.single{
    display: none;
  }

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }

 .blogs-page main {
  max-width: 90%;
 }
}

 @media(max-width: 300px){
   .preview-text  {
     font-size: 3px;
   }

   .kay main{
     margin: 0;
   }

   .rich main{
     margin: 0px;
   }
   .content.clearfix .main-content.single  {
     max-width: 60%;
     max-height: 100%;
   }
 }

   @media(max-width: 415px){

     .kay main{
       margin: 0;
     }

     .rich main{
       margin: 0px;
     }

   .grid_main{
     grid-template-columns: 1fr;
     width: 100%;
     margin: 0;
   }

  .blogs-page {
     padding: 0;
     margin: 0;
   }

   .content.clearfix .main-content.single  {
     max-width: 60%;
     max-height: 100%;
   }
}

@media(max-width: 376px){

  .kay main{
    margin: 0;
  }

  .rich main{
    margin: 0px;
  }

.grid_main{
  grid-template-columns: 1fr;
  padding: 0px;
  width: 100%;
  margin: 0;
}


.blogs-page {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.blogs-page main{
  width: 350px;
  text-align: center;
}

.content .main-content .post{
text-align: center;
}

.content .main-content {
text-align: center;
}

}

@media(max-width: 376px){
  .grid_main{
    max-width: 100%;

  }



   footer{
     max-width: 100%;
   }
}
