/* change this line only! */


html{
  background-image: url(../photos/rundown.black.jpeg);
}



body{
  margin: 0 auto;
  width: 100em;

}

main {
  background-color: #edeef0;
  color: #222;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: auto;
  border: 5px solid #222;
}

nav{
  border: 5px solid #222;
  margin: 2em 5;
  background: #edeef0;
  text-align: center;
}

nav > ul {
  padding-left: 0;
  margin: 1em 0;
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin-right: 20em;
  font-weight: bold;
}

nav > ul > li > a {
  font-weight: bold ;
}

nav > form {
  float: right;
}


a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited{
  color: red;
}



main > ul {
  margin-top: 0;
  line-height: 1.5;
}

img {
  margin-right: 2em;
  float: left;
}

footer{
  background: #edeef0;
  color: black;
  border: 5px solid #222;
  text-align: center;
}

footer > ul {
  padding-left: 0;
  margin: 1em 0;
  list-style: none;
}

footer > ul > li {
  display: inline-block;
  margin-right: 20em;
  font-weight: bold;
}

body > header > h1 {
  color: red;
}

audio {
    display: block;
    margin-bottom: 20px;
  }



  #wrapper main {
    display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-gap: 20px;
    font-size: 25px;
    max-width: 960px;
	margin: 0 auto;
  }


#wrapper > main > section{
  padding: 10px;
}

#episodes{
  font-size: 35px;
}



.kay main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  max-width: 960px;
	margin: 0 auto;
}


.footer{
  grid-column-start: 1;
  grid-row-end: 3;
  grid-area: footer;
}


.rich main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 960px;
	margin: 0 auto;
}





#story h2 {
	margin-top: 0;
}

#story main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
  max-width: 960px;
	margin: 0 auto;
}

#story section {
	padding: 40px;
}




#all main{
  display: grid;
  background-color: white;
    grid-template-columns: 3fr 1fr;
    font-size: 20px;


 margin: 0 auto;
 width: 60em;

}


#nav{
  font-size: 10px;
  font-size: 0.75rem;
}

#all aside {
 border: 5px;
}


@media (max-width: 500px){
  nav{
    max-width: 500px;
  margin: 0 auto;
  }
  body{
        max-width: 500px;
      margin: 0 auto;
      font-size: 5px;
      }
  #all main {
    max-width: 500px;
  margin: 0 auto;
  font-size: 5px;
  }

  #nav{
    max-width: 500px;
  margin: 0 auto;
  font-size: 2px;
  }
  img{
    max-height: 50%;
    max-width: 50%;
  }

}
